.form-container {
  padding: 20px;
  margin: auto;
  width: 50%;
  border: 1px;
  border-style: dashed;
}
.form-container .date-range-container {
  margin: auto;
  width: 50%;
}
.form-container .form-group label {
  font-weight: 500;
}
.form-container  input, select {
 padding: 10px;
  margin: 10px
}
