input[type=text], input[type=password] {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

button {
    padding: 14px 20px;
    cursor: pointer;
}

.container {
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}



