.container {
  width: 700px;
  height: 700px;
  margin: auto;

  h2 {
    text-align: center;
  }

  input {
    width: 50%;
    display: block;
    padding: 10px 10px;
    margin: 20px auto;
    box-sizing: border-box;
  }

  button {
    display: block;
    margin: auto;
  }
}
