input {
    display: block;
    margin: auto;
    width: 50%;
    padding: 5px;
}

.container {
    width: 700px;
    height: 700px;
    margin:auto
}

.login {
    display: block;
    margin: auto
}
